{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    {% include 'inc/question.html' with q=question %}
    {% for answer in answers %}
      {% include 'inc/answer.html' with a=answer %}
    {% endfor %}

    {% include 'inc/paginator.html' %}

    {% if profile.user.is_authenticated %}
        <form class="form mt-5" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Ответить</button>
            {% endbuttons %}
        </form>
    {% endif %}

{% endblock content %}